.filter-wrapper {
    background-color: beige;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    .filter-title {
        background-image: linear-gradient(to right,rgb(204, 0, 255),rgb(255, 0, 128), rgb(204, 0, 255));
        padding: 20px;
        margin-bottom: 10px;
        color: whitesmoke;
        text-align: center;
    }
    > div {
        padding: 5px 20px;
        margin-bottom: 13px;
    }
    select{
        display: block;
        height: 40px;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}